
body {
    font-family : 'Arial', sans-serif;
    background-color: #ffffff;
}

h1 {
    font-family : 'Arial', sans-serif;
    font-size : 16pt;
}

h2 {
    font-family : 'Arial', sans-serif;
    font-size : 15pt;
    color: blue;
    font-style: italic;
    font-weight : normal;
    text-decoration: underline;
}

p {
    font-family : 'Arial', serif;
    font-size : 12pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0;
}

b {
    font-weight: bold;
    color: black;
    background-color: transparent;
}

.home {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}

.paraContainer {
    max-width: 800px;
}

a {
    color: blue;
    text-decoration: underline;
    font-weight : normal;
    font-style: italic;
}

a:visited {
}

a:link {
}

a:hover {
    color : #000000;
    font-style : italic;
    font-weight : bold;
    background-color : #ff0000;
}

a:active {
}

.image {
    max-width: 50%;
    max-height: 30%;
}
